<html>
<head>
<title>TestNG:  5</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>5</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>1/0/0</td>
</tr><tr>
<td>Started on:</td><td>Wed Apr 29 22:18:19 IST 2020</td>
</tr>
<tr><td>Total time:</td><td>52 seconds (52844 ms)</td>
</tr><tr>
<td>Included groups:</td><td></td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-failed'>
<tr><td colspan='4' align='center'><b>FAILED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.shreeya.FunctionKeyword.executionWithKeyword()'><b>executionWithKeyword</b><br>Test class: com.shreeya.FunctionKeyword<br>Parameters: 1, OM01, abc123, 2017, 18, 27, login<br/>
<a href="#Output-65217312" onClick='toggleBox("Output-65217312", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-65217312" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-65217312">
<==================== Function KeyWord : executionWithKeyword ================><br/>
Before Iterator 1<br/>
After Iterator<br/>
Login Data ====> LoginModel [referNo=1, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=login]<br/>
KeyWord before process  ====> login<br/>
login<br/>
logout<br/>
Check Point ===================================================================================================================@@@@>>> LoginModel [referNo=1, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=login]<br/>
Step ===> login<br/>
keyword =====> login<br/>
Login functionality<br/>
<====ExtendReporter Constructor===><br/>
Scenario : LoginRegression<br/>
1588178790333<br/>
Report Path String ../WorkingE2/Report1588178786051/HtmlReports/LoginRegression_1588178790333.html<br/>
LoginTestModel [reference_no=1, testScenario=Login with valid data, user_Id=OM10, password=abc123, yob=2000, expected_Result=FAIL]<br/>
LoginPage : loginExecution <br/>
LoginTestModel [reference_no=1, testScenario=Login with valid data, user_Id=OM10, password=abc123, yob=2000, expected_Result=FAIL]<br/>
No thans popup button Click <br/>
Login button Click <br/>
Buy/Sell link Click <br/>
Before userId<br/>
LoginModel data LoginTestModel [reference_no=1, testScenario=Login with valid data, user_Id=OM10, password=abc123, yob=2000, expected_Result=FAIL]<br/>
After locate userId<br/>
userId_Idvalue ===> userID<br/>
Procceed Button  Click <br/>
Checking login error <br/>
Login Error : 
                                    Sorry we do not seem to recognize you.
                                    <span class="callus"><a href="" ng-click="loadForgotUserID()">Know your Login ID</a> or Call us: <span class="num ng-binding" data-ng-bind="contactNo">1800-102-3335</span></span>
                                <br/>
Login Error ===> Sorry we do not seem to recognize you<br/>
After Userid and than processed false<br/>
Login Error fond<br/>
Extend Report Test Name : Login with valid data_1<br/>
Capture Screenshot<br/>
1588178812689<br/>
Folder path ===> ../WorkingE2/Report1588178786051<br/>
Login Detail Frame close button Click <br/>
Driver object ====> ChromeDriver: chrome on WINDOWS (81edf8300a3eb893a4dd85975b502969)<br/>
LoginTestModel [reference_no=2, testScenario=Login with invalid data, user_Id=OM11, password=abc123, yob=2000, expected_Result=FAIL]<br/>
LoginPage : loginExecution <br/>
LoginTestModel [reference_no=2, testScenario=Login with invalid data, user_Id=OM11, password=abc123, yob=2000, expected_Result=FAIL]<br/>
No thans popup not found<br/>
Login button Click <br/>
Buy/Sell link Click <br/>
Before userId<br/>
LoginModel data LoginTestModel [reference_no=2, testScenario=Login with invalid data, user_Id=OM11, password=abc123, yob=2000, expected_Result=FAIL]<br/>
After locate userId<br/>
userId_Idvalue ===> userID<br/>
Procceed Button  Click <br/>
Checking login error <br/>
Login Error : 
                                    Sorry we do not seem to recognize you.
                                    <span class="callus"><a href="" ng-click="loadForgotUserID()">Know your Login ID</a> or Call us: <span class="num ng-binding" data-ng-bind="contactNo">1800-102-3335</span></span>
                                <br/>
Login Error ===> Sorry we do not seem to recognize you<br/>
After Userid and than processed false<br/>
Login Error fond<br/>
Extend Report Test Name : Login with invalid data_2<br/>
Capture Screenshot<br/>
1588178850428<br/>
Folder path ===> ../WorkingE2/Report1588178786051<br/>
Login Detail Frame close button Click <br/>
Driver object ====> ChromeDriver: chrome on WINDOWS (81edf8300a3eb893a4dd85975b502969)<br/>
Driver close<br/>
Extend Log Flush<br/>
Reporter path ===> ../WorkingE2/Report1588178786051/HtmlReports/LoginRegression_1588178790333.html<br/>
Report Object ==================================================================> com.aventstack.extentreports.ExtentReports@4c369dc3<br/>
Step ===> logout<br/>
keyword =====> logout<br/>
login<br/>
<====ExtendReporter Constructor===><br/>
Scenario : login<br/>
1588178851704<br/>
Report Path String ../WorkingE2/Report1588178786051/HtmlReports/login_1588178851704.html<br/>
Extend Report Test Name : login<br/>
Capture Screenshot<br/>
</div>
</td>
<td><div><pre>org.openqa.selenium.NoSuchSessionException: invalid session id
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;DESKTOP-0PTHPNK&apos;, ip: &apos;192.168.0.104&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_191&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 81.0.4044.122, chrome: {chromedriverVersion: 81.0.4044.69 (6813546031a4b..., userDataDir: C:\Users\Shreeya\AppData\Lo...}, goog:chromeOptions: {debuggerAddress: localhost:60776}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:virtualAuthenticators: true}
Session ID: 81edf8300a3eb893a4dd85975b502969
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:609)
	at org.openqa.selenium.remote.RemoteWebDriver.getScreenshotAs(RemoteWebDriver.java:295)
	at com.shreeya.util.ExtendReporter.captureScreen(ExtendReporter.java:109)
	at com.shreeya.util.ExtendReporter.addScreenshotMethod(ExtendReporter.java:82)
	at com.shreeya.util.ExtendReporter.reporter(ExtendReporter.java:220)
	at com.shreeya.FunctionKeyword.terminateExecution(FunctionKeyword.java:179)
	at com.shreeya.FunctionKeyword.executionWithKeyword(FunctionKeyword.java:151)
	at java.util.ArrayList.forEach(ArrayList.java:1257)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
... Removed 22 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace65217312", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace65217312'><pre>org.openqa.selenium.NoSuchSessionException: invalid session id
Build info: version: &apos;3.141.59&apos;, revision: &apos;e82be7d358&apos;, time: &apos;2018-11-14T08:17:03&apos;
System info: host: &apos;DESKTOP-0PTHPNK&apos;, ip: &apos;192.168.0.104&apos;, os.name: &apos;Windows 10&apos;, os.arch: &apos;amd64&apos;, os.version: &apos;10.0&apos;, java.version: &apos;1.8.0_191&apos;
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities {acceptInsecureCerts: false, browserName: chrome, browserVersion: 81.0.4044.122, chrome: {chromedriverVersion: 81.0.4044.69 (6813546031a4b..., userDataDir: C:\Users\Shreeya\AppData\Lo...}, goog:chromeOptions: {debuggerAddress: localhost:60776}, javascriptEnabled: true, networkConnectionEnabled: false, pageLoadStrategy: normal, platform: WINDOWS, platformName: WINDOWS, proxy: Proxy(), setWindowRect: true, strictFileInteractability: false, timeouts: {implicit: 0, pageLoad: 300000, script: 30000}, unhandledPromptBehavior: dismiss and notify, webauthn:virtualAuthenticators: true}
Session ID: 81edf8300a3eb893a4dd85975b502969
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.createException(W3CHttpResponseCodec.java:187)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:122)
	at org.openqa.selenium.remote.http.W3CHttpResponseCodec.decode(W3CHttpResponseCodec.java:49)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at org.openqa.selenium.remote.service.DriverCommandExecutor.execute(DriverCommandExecutor.java:83)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:552)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:609)
	at org.openqa.selenium.remote.RemoteWebDriver.getScreenshotAs(RemoteWebDriver.java:295)
	at com.shreeya.util.ExtendReporter.captureScreen(ExtendReporter.java:109)
	at com.shreeya.util.ExtendReporter.addScreenshotMethod(ExtendReporter.java:82)
	at com.shreeya.util.ExtendReporter.reporter(ExtendReporter.java:220)
	at com.shreeya.FunctionKeyword.terminateExecution(FunctionKeyword.java:179)
	at com.shreeya.FunctionKeyword.executionWithKeyword(FunctionKeyword.java:151)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:133)
	at org.testng.internal.TestInvoker.invokeMethod(TestInvoker.java:584)
	at org.testng.internal.TestInvoker.invokeTestMethod(TestInvoker.java:172)
	at org.testng.internal.MethodRunner.runInSequence(MethodRunner.java:46)
	at org.testng.internal.TestInvoker$MethodInvocationAgent.invoke(TestInvoker.java:804)
	at org.testng.internal.TestInvoker.invokeTestMethods(TestInvoker.java:145)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:146)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:128)
	at java.util.ArrayList.forEach(ArrayList.java:1257)
	at org.testng.TestRunner.privateRun(TestRunner.java:770)
	at org.testng.TestRunner.run(TestRunner.java:591)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:402)
	at org.testng.SuiteRunner.access$000(SuiteRunner.java:41)
	at org.testng.SuiteRunner$SuiteWorker.run(SuiteRunner.java:443)
	at org.testng.internal.thread.ThreadUtil.lambda$execute$0(ThreadUtil.java:67)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
</pre></div></td>
<td>63</td>
<td>com.shreeya.FunctionKeyword@6580cfdd</td></tr>
</table><p>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.shreeya.FunctionKeyword.executionWithKeyword()'><b>executionWithKeyword</b><br>Test class: com.shreeya.FunctionKeyword<br>Parameters: 2, OM03, abc123, 2017, 6, 13, fundtransfer<br/>
<a href="#Output-1656793548" onClick='toggleBox("Output-1656793548", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1656793548" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1656793548">
<==================== Function KeyWord : executionWithKeyword ================><br/>
Before Iterator 2<br/>
After Iterator<br/>
Login Data ====> LoginModel [referNo=2, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=fundtransfer]<br/>
KeyWord before process  ====> fundtransfer<br/>
login<br/>
fundtransfer<br/>
logout<br/>
Check Point ===================================================================================================================@@@@>>> LoginModel [referNo=2, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=fundtransfer]<br/>
Step ===> login<br/>
keyword =====> login<br/>
Login functionality<br/>
LoginPage : loginExecution <br/>
No thans popup button Click <br/>
Login button Click <br/>
Buy/Sell link Click <br/>
Before userId<br/>
LoginModel data LoginModel [referNo=2, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=fundtransfer]<br/>
After locate userId<br/>
User id : OM03<br/>
NO Handly semement popup!!<br/>
Procceed Button  Click <br/>
LoginModel data LoginModel [referNo=2, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=fundtransfer]<br/>
Password : abc123<br/>
Proceed Button Click <br/>
Checking login error <br/>
ContinueButton Click <br/>
Not now popup button Click <br/>
Ok popup button Click <br/>
Step ===> fundtransfer<br/>
keyword =====> fundtransfer<br/>
Fund Transfer Tab Click <br/>
ABHYUDAYA CO-OP BANK LTD Radio button Click <br/>
UPI via QA code radio button Click <br/>
Ok button Click <br/>
error msg : Minimum transfer amount is Rs.50<br/>
TestData File copy into output folder<br/>
Output excel file : ..\WorkingE2\Report1588178786051\FundTransfer.xlsx<br/>
Output excel file : ..\WorkingE2\Report1588178786051\Executable.txt<br/>
Start Write in output excel file<br/>
FundTransfer<br/>
<====ExtendReporter Constructor===><br/>
Scenario : FundTransfer<br/>
1588178832521<br/>
Report Path String ../WorkingE2/Report1588178786051/HtmlReports/FundTransfer_1588178832521.html<br/>
Extend Report Test Name : FundTransfer<br/>
Extend Log Flush<br/>
Reporter path ===> ../WorkingE2/Report1588178786051/HtmlReports/FundTransfer_1588178832521.html<br/>
Report Object ==================================================================> com.aventstack.extentreports.ExtentReports@1cb68fee<br/>
Driver close<br/>
Capture Screenshot<br/>
1588178836246<br/>
Writer Order detail with link in outputExcel1<br/>
Row Object ====> <xml-fragment r="2" spans="1:4" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:main="http://schemas.openxmlformats.org/spreadsheetml/2006/main">
  <main:c r="A2">
    <main:v>1</main:v>
  </main:c>
  <main:c r="B2" t="s">
    <main:v>4</main:v>
  </main:c>
  <main:c r="C2" t="s">
    <main:v>5</main:v>
  </main:c>
  <main:c r="D2">
    <main:v>20</main:v>
  </main:c>
</xml-fragment>
OutputSheet Object ====> Name: /xl/worksheets/sheet1.xml - Content Type: application/vnd.openxmlformats-officedocument.spreadsheetml.worksheet+xml<br/>
No<br/>
PASS<br/>
../Report1588178786051/HtmlReports/FundTransfer_1588178832521.html<br/>
HyperLink Path ======> ../Report1588178786051/HtmlReports/FundTransfer_1588178832521.html<br/>
../Report1588178786051/HtmlReports/FundTransfer_1588178832521.html<br/>
../Report1588178786051/Screenshots/FundTransfer_1_1588178836246.png<br/>
HyperLink Path ======> ../Report1588178786051/Screenshots/FundTransfer_1_1588178836246.png<br/>
../Report1588178786051/Screenshots/FundTransfer_1_1588178836246.png<br/>
See Margin Tab Click <br/>
Fund Transfer Tab Click <br/>
CANARA BANK Radio button Click <br/>
UPI via QA code radio button Click <br/>
error msg : Minimum transfer amount is Rs.50<br/>
FundTransfer<br/>
<====ExtendReporter Constructor===><br/>
Scenario : FundTransfer<br/>
1588178842955<br/>
Report Path String ../WorkingE2/Report1588178786051/HtmlReports/FundTransfer_1588178842955.html<br/>
Extend Report Test Name : FundTransfer<br/>
Extend Log Flush<br/>
Reporter path ===> ../WorkingE2/Report1588178786051/HtmlReports/FundTransfer_1588178842955.html<br/>
Report Object ==================================================================> com.aventstack.extentreports.ExtentReports@f604469<br/>
Driver close<br/>
Capture Screenshot<br/>
1588178843675<br/>
Writer Order detail with link in outputExcel1<br/>
Row Object ====> <xml-fragment r="3" spans="1:4" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:main="http://schemas.openxmlformats.org/spreadsheetml/2006/main">
  <main:c r="A3">
    <main:v>2</main:v>
  </main:c>
  <main:c r="B3" t="s">
    <main:v>6</main:v>
  </main:c>
  <main:c r="C3" t="s">
    <main:v>5</main:v>
  </main:c>
  <main:c r="D3">
    <main:v>10</main:v>
  </main:c>
</xml-fragment>
OutputSheet Object ====> Name: /xl/worksheets/sheet1.xml - Content Type: application/vnd.openxmlformats-officedocument.spreadsheetml.worksheet+xml<br/>
No<br/>
PASS<br/>
../Report1588178786051/HtmlReports/FundTransfer_1588178842955.html<br/>
HyperLink Path ======> ../Report1588178786051/HtmlReports/FundTransfer_1588178842955.html<br/>
../Report1588178786051/HtmlReports/FundTransfer_1588178842955.html<br/>
../Report1588178786051/Screenshots/FundTransfer_2_1588178843675.png<br/>
HyperLink Path ======> ../Report1588178786051/Screenshots/FundTransfer_2_1588178843675.png<br/>
../Report1588178786051/Screenshots/FundTransfer_2_1588178843675.png<br/>
See Margin Tab Click <br/>
fun transfer executin<br/>
Step ===> logout<br/>
keyword =====> logout<br/>
Close order status popup Click <br/>
Logout option Click <br/>
logout link Click <br/>
Execution Terminate.... :)<br/>
</div>
</td>
<td></td>
<td>66</td>
<td>com.shreeya.FunctionKeyword@72f926e6</td></tr>
<tr>
<td title='com.shreeya.FunctionKeyword.executionWithKeyword()'><b>executionWithKeyword</b><br>Test class: com.shreeya.FunctionKeyword<br>Parameters: 3, OM01, abc123, 2017, 18, 27, seeholdings<br/>
<a href="#Output-1428596877" onClick='toggleBox("Output-1428596877", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-1428596877" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-1428596877">
<==================== Function KeyWord : executionWithKeyword ================><br/>
Before Iterator 3<br/>
After Iterator<br/>
Login Data ====> LoginModel [referNo=3, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
KeyWord before process  ====> seeholdings<br/>
login<br/>
seeholdings<br/>
logout<br/>
Check Point ===================================================================================================================@@@@>>> LoginModel [referNo=3, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
Step ===> login<br/>
keyword =====> login<br/>
Login functionality<br/>
LoginPage : loginExecution <br/>
No thans popup button Click <br/>
Login button Click <br/>
Buy/Sell link Click <br/>
Before userId<br/>
LoginModel data LoginModel [referNo=3, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
After locate userId<br/>
User id : OM01<br/>
NO Handly semement popup!!<br/>
Procceed Button  Click <br/>
LoginModel data LoginModel [referNo=3, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
Password : abc123<br/>
Proceed Button Click <br/>
Checking login error <br/>
ContinueButton Click <br/>
Not now popup button Click <br/>
Ok popup button Click <br/>
Step ===> seeholdings<br/>
keyword =====> seeholdings<br/>
See Holdings Tab Click <br/>
See Holdings Module<br/>
Step ===> logout<br/>
keyword =====> logout<br/>
seeholdings<br/>
<====ExtendReporter Constructor===><br/>
Scenario : seeholdings<br/>
1588178891811<br/>
Report Path String ../WorkingE2/Report1588178786051/HtmlReports/seeholdings_1588178891811.html<br/>
Extend Report Test Name : seeholdings<br/>
Capture Screenshot<br/>
1588178894535<br/>
Extend Log Flush<br/>
Reporter path ===> ../WorkingE2/Report1588178786051/HtmlReports/seeholdings_1588178891811.html<br/>
Report Object ==================================================================> com.aventstack.extentreports.ExtentReports@57614cdc<br/>
Driver close<br/>
*************<<<<<<<<<<<<Helper class : Output Processor Started>>>>>>>>>>>>>>>>****************<br/>
====<<<<< OrderNo in Sheet null Action : null >>>>>====<br/>
FolderCreation array form FunctionKeyword class ===> [Ljava.lang.String;@798322d5<br/>
****Termination Conditin****<br/>
ExcelFileClose flag : false<br/>
Order no =====>  0
NoRowInTestData =======> 0<br/>
Excel file closing...........<br/>
ExcelFileClose flag : true<br/>
Close order status popup Click <br/>
Logout option Click <br/>
logout link Click <br/>
Execution Terminate.... :)<br/>
</div>
</td>
<td></td>
<td>24</td>
<td>com.shreeya.FunctionKeyword@3d51f06e</td></tr>
<tr>
<td title='com.shreeya.FunctionKeyword.executionWithKeyword()'><b>executionWithKeyword</b><br>Test class: com.shreeya.FunctionKeyword<br>Parameters: 4, OM03, abc123, 2017, 6, 13, seemargin<br/>
<a href="#Output-37652414" onClick='toggleBox("Output-37652414", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-37652414" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-37652414">
<==================== Function KeyWord : executionWithKeyword ================><br/>
Before Iterator 4<br/>
After Iterator<br/>
Login Data ====> LoginModel [referNo=4, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=seemargin]<br/>
KeyWord before process  ====> seemargin<br/>
login<br/>
seemargin<br/>
logout<br/>
Check Point ===================================================================================================================@@@@>>> LoginModel [referNo=4, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=seemargin]<br/>
Step ===> login<br/>
keyword =====> login<br/>
Login functionality<br/>
LoginPage : loginExecution <br/>
No thans popup button Click <br/>
Login button Click <br/>
Buy/Sell link Click <br/>
Before userId<br/>
LoginModel data LoginModel [referNo=4, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=seemargin]<br/>
After locate userId<br/>
User id : OM03<br/>
NO Handly semement popup!!<br/>
Procceed Button  Click <br/>
LoginModel data LoginModel [referNo=4, userId=OM03, password=abc123, yob=2017, startingRowNo=6, endRowNo=13, module=seemargin]<br/>
Password : abc123<br/>
Proceed Button Click <br/>
Checking login error <br/>
ContinueButton Click <br/>
Not now popup button Click <br/>
Ok popup button Click <br/>
Step ===> seemargin<br/>
keyword =====> seemargin<br/>
See Margin Tab Click <br/>
See Margin Module<br/>
Step ===> logout<br/>
keyword =====> logout<br/>
seemargin<br/>
<====ExtendReporter Constructor===><br/>
Scenario : seemargin<br/>
1588178896102<br/>
Report Path String ../WorkingE2/Report1588178786051/HtmlReports/seemargin_1588178896102.html<br/>
Extend Report Test Name : seemargin<br/>
Capture Screenshot<br/>
1588178897296<br/>
Extend Log Flush<br/>
Reporter path ===> ../WorkingE2/Report1588178786051/HtmlReports/seemargin_1588178896102.html<br/>
Report Object ==================================================================> com.aventstack.extentreports.ExtentReports@279f0617<br/>
Driver close<br/>
*************<<<<<<<<<<<<Helper class : Output Processor Started>>>>>>>>>>>>>>>>****************<br/>
====<<<<< OrderNo in Sheet null Action : null >>>>>====<br/>
FolderCreation array form FunctionKeyword class ===> [Ljava.lang.String;@798322d5<br/>
****Termination Conditin****<br/>
Order no =====>  0
NoRowInTestData =======> 0<br/>
Excel file closing...........<br/>
ExcelFileClose flag : true<br/>
Close order status popup Click <br/>
Logout option Click <br/>
logout link Click <br/>
Execution Terminate.... :)<br/>
</div>
</td>
<td></td>
<td>27</td>
<td>com.shreeya.FunctionKeyword@3c407114</td></tr>
<tr>
<td title='com.shreeya.FunctionKeyword.executionWithKeyword()'><b>executionWithKeyword</b><br>Test class: com.shreeya.FunctionKeyword<br>Parameters: 5, OM01, abc123, 2017, 18, 27, seeholdings<br/>
<a href="#Output-2015040075" onClick='toggleBox("Output-2015040075", this, "Show output", "Hide output");'>Show output</a>

<a href="#Output-2015040075" onClick="toggleAllBoxes();">Show all outputs</a>
<div class='log' id="Output-2015040075">
<==================== Function KeyWord : executionWithKeyword ================><br/>
Before Iterator 5<br/>
After Iterator<br/>
Login Data ====> LoginModel [referNo=5, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
KeyWord before process  ====> seeholdings<br/>
login<br/>
seeholdings<br/>
logout<br/>
Check Point ===================================================================================================================@@@@>>> LoginModel [referNo=5, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
Step ===> login<br/>
keyword =====> login<br/>
Login functionality<br/>
LoginPage : loginExecution <br/>
No thans popup button Click <br/>
Login button Click <br/>
Buy/Sell link Click <br/>
Before userId<br/>
LoginModel data LoginModel [referNo=5, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
After locate userId<br/>
User id : OM01<br/>
NO Handly semement popup!!<br/>
Procceed Button  Click <br/>
LoginModel data LoginModel [referNo=5, userId=OM01, password=abc123, yob=2017, startingRowNo=18, endRowNo=27, module=seeholdings]<br/>
Password : abc123<br/>
Proceed Button Click <br/>
Checking login error <br/>
ContinueButton Click <br/>
Not now popup button Click <br/>
Ok popup button Click <br/>
Step ===> seeholdings<br/>
keyword =====> seeholdings<br/>
See Holdings Tab Click <br/>
See Holdings Module<br/>
Step ===> logout<br/>
keyword =====> logout<br/>
seeholdings<br/>
<====ExtendReporter Constructor===><br/>
Scenario : seeholdings<br/>
1588178944911<br/>
Report Path String ../WorkingE2/Report1588178786051/HtmlReports/seeholdings_1588178944911.html<br/>
Extend Report Test Name : seeholdings<br/>
Capture Screenshot<br/>
1588178946884<br/>
Extend Log Flush<br/>
Reporter path ===> ../WorkingE2/Report1588178786051/HtmlReports/seeholdings_1588178944911.html<br/>
Report Object ==================================================================> com.aventstack.extentreports.ExtentReports@7b5ca873<br/>
Driver close<br/>
*************<<<<<<<<<<<<Helper class : Output Processor Started>>>>>>>>>>>>>>>>****************<br/>
====<<<<< OrderNo in Sheet null Action : null >>>>>====<br/>
FolderCreation array form FunctionKeyword class ===> [Ljava.lang.String;@798322d5<br/>
****Termination Conditin****<br/>
Order no =====>  0
NoRowInTestData =======> 0<br/>
Excel file closing...........<br/>
ExcelFileClose flag : true<br/>
Close order status popup Click <br/>
Logout option Click <br/>
logout link Click <br/>
Execution Terminate.... :)<br/>
</div>
</td>
<td></td>
<td>28</td>
<td>com.shreeya.FunctionKeyword@708f5957</td></tr>
</table><p>
</body>
</html>